absl-py==1.0.0
aiohttp @ file:///tmp/build/80754af9/aiohttp_1637857092750/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
asynctest==0.13.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
boto3==1.21.3
botocore==1.24.3
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer==2.0.12
click==8.0.4
cryptography @ file:///tmp/build/80754af9/cryptography_1639414570729/work
filelock==3.6.0
finbert-embedding==0.1.5
Flask==2.0.3
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1609957731919/work
frozenlist @ file:///tmp/build/80754af9/frozenlist_1637767116045/work
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
huggingface-hub==0.4.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.1
itsdangerous==2.1.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
keras==2.8.0
libclang==13.0.0
llvmlite==0.38.0
Markdown==3.3.6
MarkupSafe==2.1.0
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
multidict @ file:///opt/conda/conda-bld/multidict_1640703752579/work
nltk==3.7
numba==0.55.1
numpy==1.21.5
packaging==21.3
pandas==1.3.5
Pillow==9.0.1
protobuf==3.19.4
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pynndescent==0.5.6
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.2
pytz==2021.3
PyYAML==6.0
regex==2022.1.18
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rouge-score==0.0.4
rsa==4.8
s3transfer==0.5.1
sacremoses==0.0.47
scikit-learn==1.0.2
scipy @ file:///tmp/build/80754af9/scipy_1641536880743/work
sentence-transformers==2.2.0
sentencepiece==0.1.96
six @ file:///tmp/build/80754af9/six_1644875935023/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tokenizers==0.11.5
torch==1.10.2
torchvision==0.11.3
tqdm==4.62.3
transformers==4.16.2
typing_extensions==4.1.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
Werkzeug==2.0.3
yarl @ file:///tmp/build/80754af9/yarl_1606939952652/work
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
