alembic==1.7.4
allennlp==1.1.0
allennlp-models==1.1.0
attrs==21.2.0
autopage==0.4.0
beautifulsoup4==4.8.1
blis==0.7.4
boto3==1.18.58
botocore==1.21.58
cached-property==1.5.2
catalogue==1.0.0
certifi==2021.10.8
charset-normalizer==2.0.6
click==8.0.2
cliff==3.9.0
cmaes==0.8.2
cmd2==2.2.0
colorama==0.4.4
colorlog==6.5.0
conllu==4.1
cymem==2.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
filelock==3.0.12
ftfy==6.0.3
future==0.18.2
greenlet==1.1.2
h5py==3.4.0
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
iniconfig==1.1.1
jmespath==0.10.0
joblib==1.1.0
jsonnet==0.17.0
jsonpickle==2.0.0
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
murmurhash==1.0.5
nltk==3.6.3
numpy==1.21.2
optuna==2.10.0
overrides==3.1.0
packaging==21.0
pandas==0.25.2
pbr==5.6.0
plac==1.1.3
pluggy==1.0.0
preshed==3.0.5
prettytable==2.2.1
protobuf==3.18.1
py==1.10.0
py-rouge==1.1
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.2.5
python-dateutil==2.8.2
python-Levenshtein==0.12.2
pytz==2021.3
PyYAML==5.4.1
regex==2021.10.8
requests==2.26.0
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0
scipy==1.7.1
sentencepiece==0.1.96
six==1.16.0
soupsieve==2.2.1
spacy==2.3.7
SQLAlchemy==1.4.25
srsly==1.0.5
stevedore==3.4.0
tensorboardX==2.4
thinc==7.4.5
threadpoolctl==3.0.0
tokenizers==0.8.1rc1
toml==0.10.2
torch==1.6.0
tqdm==4.62.3
transformers==3.0.2
twint @ git+https://github.com/twintproject/twint.git@a45a8ac719d5710e7da92f77d9801b351e505c1f
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
word2number==1.1
zipp==3.6.0
