blis==0.2.4
boto3==1.19.1
botocore==1.22.1
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cymem==2.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
filelock==3.3.1
huggingface-hub==0.0.19
idna==3.3
importlib-metadata==4.8.1
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.1.0
jsonschema==2.6.0
MarkupSafe==2.0.1
murmurhash==1.0.6
numpy==1.21.3
packaging==21.0
pathy==0.6.0
plac==0.9.6
preshed==2.0.1
protobuf==3.19.0
pydantic==1.8.2
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==6.0
regex==2021.10.21
requests==2.26.0
s3transfer==0.5.0
sacremoses==0.0.46
sentencepiece==0.1.91
six==1.16.0
smart-open==5.2.1
spacy==2.1.0
spacy-legacy==3.0.8
srsly==1.0.5
thinc==7.0.8
tokenizers==0.9.3
torch==1.4.0
tqdm==4.62.3
transformers==3.5.0
twint @ git+https://github.com/twintproject/twint.git@a45a8ac719d5710e7da92f77d9801b351e505c1f
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.8.2
zipp==3.6.0
