absl-py==0.15.0
aiofiles==0.7.0
astunparse==1.6.3
blis==0.7.4
boto3==1.20.41
botocore==1.23.41
cachetools==4.2.2
catalogue==2.0.6
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
cymem==2.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
et-xmlfile==1.1.0
fastapi==0.68.1
filelock==3.4.2
finbert-embedding==0.1.5
flatbuffers==2.0
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h11==0.12.0
h5py==3.6.0
huggingface-hub==0.4.0
idna==3.2
importlib-metadata==4.10.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.1.0
keras==2.7.0
Keras-Preprocessing==1.1.2
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
murmurhash==1.0.5
nltk==3.6.5
numpy==1.21.2
oauthlib==3.1.1
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.3
pathy==0.6.0
peewee==3.14.4
plac==1.1.3
preshed==3.0.5
prodigy @ file:///Users/valarylim/Downloads/mac/prodigy-1.11.2-cp39-cp39-macosx_10_14_x86_64.whl
protobuf==3.19.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
PyJWT==2.1.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytorch-pretrained-bert==0.6.2
pytz==2021.1
PyYAML==6.0
regex==2021.10.8
requests==2.26.0
requests-oauthlib==1.3.0
rouge==1.0.1
rouge-score==0.0.4
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.47
scikit-learn==1.0
scipy==1.7.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
stanford-openie==1.2.0
stanfordnlp==0.2.0
starlette==0.14.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
thinc==8.0.10
threadpoolctl==3.0.0
tokenizers==0.10.3
toolz==0.11.1
torch==1.10.0
tqdm==4.62.2
transformers==4.15.0
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.6
uvicorn==0.13.4
wasabi==0.8.2
Werkzeug==2.0.2
wget==3.2
wrapt==1.13.3
zipp==3.7.0
